<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mufeng.backend.mapper.ApplyMapper">

    <resultMap id="BaseResultMap" type="com.mufeng.common.model.entity.Apply">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="contact" column="contact" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userAccount,name,
        contact,address,introduction
    </sql>
    <insert id="applyInterface">
        insert into apply(userAccount, name, contact, address, introduction)
        values (#{userAccount},#{name},#{contact},#{address},#{introduction})
    </insert>
</mapper>
